{% extends 'base.html.twig' %}

{% block title %}Mes Voitures{% endblock %}

{% block body %}
    <h1>Mes voitures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Year</th>
                <th>Brand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.brand.name }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">Voir</a>
                    <br>
                    <a href="{{ path('car_edit', {'id': car.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}">Ajouter une voiture</a>
{% endblock %}
